body {
    display: fixed;
    align-items: center;
    justify-content: center;
    background-image: url("phishing.png");
    background-repeat: no-repeat;
    background-size: cover;
}
  
.Menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
button {
    font-size: 60px;
    border: 3px solid black;
    padding: 3px 40px;
    letter-spacing: 2px;
}
  
button a {
    color: black;
    text-decoration: none;
}
  
button a:hover {
    color: white;
    text-decoration: none;
}
  
button:hover {
    transform: scale(1.3);
    background-color: black;
    color: white;
    border-color: white;
    transition: 0.5s;
}
  